.main-button-style{
    background-color: #1aa3ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    float: left;
}

.main-div-button{
    width: 60%;
    float: right;
}

.delete-button-style{ 
    padding: 8px;
    width: 70px;
    border-radius: 5px;
    border-width: thin;
}

.button-style {
    background-color: #1aa3ff;
    color: white;
    padding: 8px;
    width: 70px;
    border-radius: 5px;
    border-style: none;
}
